/.idea/jarRepositories.xml
/.idea/vcs.xml
/.idea/compiler.xml
/.idea/modules/
/.idea/workspace.xml
/.idea/artifacts/

.gradle

build

backend/backend/build/
backend/gateway/build/

database/database-exposed/build

domain/build

frontend/front/build
frontend/front-admin/build

shared/build